.Contentbg{
    background-image: url(./images/house3.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
  }
.homecontent{
    background-color: transparent;
    position: absolute;
    top:calc(80vh - 55vh);
    width: 60%;
    margin-left: 70px;
}

.homecontents{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    color :white;
    top: 20%;
    /* background-color: red; */
}
.hometext{
    color: rgb(247, 247, 247);
}
.hometext h6{
    font-weight: 900;
}
.hometext h1{
    font-size: 20px;
    font-style: italic;
    width: 50%;
}
.homebutton{
    margin-top: 10px;
}
.homebutton .button2{
    background-color:white;
    margin-left: 10px;
}
@media (max-width: 800px) {
    .hometext h1{
        width:100%
    }
}